meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
base(href='/')
  
link(href='css/kube.min.css', rel='stylesheet')
link(href='css/font-awesome.min.css', rel='stylesheet')
link(href='css/master.css', rel='stylesheet')
