doctype html
html
  head
    include includes/head.pug
    title Server Monitor - Status
      
  body
    include includes/navigation.pug
    #page-wrapper
      h4 Device Status
      p View the status of every connected device at this location, at a glance. 
        b Coming soon.

    include includes/foot.pug
