doctype html
html
  head
    include includes/head.pug
    title Server Monitor - Users
      
  body
    include includes/navigation.pug
    #page-wrapper
      h4 Active Users
      p View all actively logged-in users, as well as user metrics and analytics. 
        b Coming soon.

    include includes/foot.pug
